<ion-view title="Agenda" id="page1" style="background-color:#E3E7FA;">
  <ion-content padding="true" class="has-header">

    <form id="agenda-form1" class="list">

      <label class="item item-input" id="agenda-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Pesquisar">
      </label>

      <div class="spacer" style="width: 300px; height: 21px;"></div>
      <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="agenda-toggle2">Favoritos</ion-toggle>
      <div class="spacer" style="width: 300px; height: 20px;"></div>

      <!--Contact List-->
     <ion-list>
        <ion-item class="item-thumbnail-left item-icon-right positive" id="agenda-list-item1" ng-repeat="contato in contatos">
          <h2positive>
            <i class="icon ion-ios-personadd"></i>{{contato.nome}} <br />
            <i class="icon ion-android-favorite"></i>{{contato.telefone}}
          </h2positive>
        </ion-item>
      </ion-list> 
    </form>
    
    <!-- Buttons -->
    <a ui-sref="novoContato" id="agenda-button1" style="font-weight:500;border-radius:50px 50px 50px 50px;" class="button button-positive  button-block">Novo Contato</a>

    <button id="sairAgenda" style="font-weight:500;border-radius:50px 50px 50px 50px;" class="button button-assertive  button-block">Sair</button>

  </ion-content>
</ion-view>