<ion-view title="Novo Contato" id="page2" style="background-color:#E3E7FA;">
  <ion-content padding="true" class="has-header">
    <form id="novoContato-form3" class="list">
      {{contato}}
      <label class="item item-input" id="novoContato-input2">
        <input type="text" placeholder="Nome" ng-model="newname.items">
      </label>
      <div class="spacer" style="width: 300px; height: 6px;"></div>
      <label class="item item-input" id="novoContato-input4">
        <input type="tel" placeholder="Número" ng-model="contato.telefone">
      </label>
      <div class="spacer" style="width: 300px; height: 6px;"></div>
      <label class="item item-input" id="novoContato-input3">
        <input type="email" placeholder="E-mail" ng-model="contato.email">
      </label>
      <div class="spacer" style="width: 300px; height: 7px;"></div>
      <ion-toggle toggle-class="toggle-positive" id="novoContato-toggle3" ng-model="contato.favorito">Favorito</ion-toggle>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="spacer" style="width: 300px; height: 10px;"></div>
      <div class="spacer" style="width: 300px; height: 20px;"></div>

      <a ui-sref="agenda" id="novoContato-button3" style="font-weight:500;font-size:25px;border-radius:50px 50px 50px 50px;" class="button button-positive  button-block" ng-click="salvarContato(contato)">Adicionar</a>

      <a ui-sref="agenda" id="novoContato-button2" style="font-weight:500;font-size:25px;border-radius:50px 50px 50px 50px;" class="button button-assertive  button-block">Cancelar</a>

    </form>
  </ion-content>
</ion-view>